.sign-in {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
}

.sign-in .title-section {
	margin: 20vh 0 60px;
	font-weight: 100;
}

.sign-in .title {
	font-size: 100px;
	text-transform: uppercase;
	font-weight: 100;
}

.sign-in-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}

.sign-in-form input {
	min-height: 50px;
	width: 300px;
	font-size: 24px;
	padding: 0px 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
}

.sign-in-form .btn {
	margin-top: 10px;
	width: 100px;
}

.sign-in-form .error-message {
	width: 100%;
	margin-top: -25px;
}
