.message-list {
	height: calc(100vh - 200px);
	border: 1px solid #bbb;
	padding: 50px 50px;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	border-radius: 10px;
}

.connection-message {
	text-align: left;
	color: #999;
	width: 100%;
}
